$color-black: #000;
$color-white: #fff;
$color-yellow: rgb(233, 236, 48);
$color-red: rgb(226, 52, 52);

$font-primary: 'Helvetica', Arial, sans-serif;

$font-size-medium: 1rem;
$font-size-large: 1.5rem;

$container-width: 1200px;

$character-num-max: 4;